<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>All todos</title>

 <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

</head>
<body>

<div class="container">
<h1>Your todos</h1>
<tbody>
<table class="table">
  <thead>
    <th>id</th>
    <th>User</th>
    <th>Description</th>
    <th>Date</th>
    <th>Is done?</th>
    <th>Delete</th>
  </thead>
      <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}" />
        <td th:text="${todo.username}"/>
        <td th:text="${todo.description}"/>
        <td th:text="${todo.targeDate}"/>
        <td th:text="${todo.done}"/>
        <td><a th:href="@{deletetodo(id=${todo.id})}" class="btn btn-warning">Delete</a></td>      
    </tr>
</table>
</tbody>

<a href="add-todo" class="btn btn-success">Add Todo</a>
</div>

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>